<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/delete_account.css">
        <script src="/javascript/delete_account.js"></script>
    </head>
    <body>
        <main>
            <section>
                <a href="/"> <img src="../img/img_login/close.png" alt="Chiudi" style="height: auto; width: 15px; padding-top: 2px; padding-left: 5px;"></a>
                <hr>
            </section>
            <section class="section_benvenuto">
                <div class="div_benvenuto">
                    <h1>Vuoi eliminare il tuo account?</h1>
                </div>
            </section>
            <hr>
            <section id="myinfo">
                
                <form action="/eliminaProfilo" method="post" enctype="application/x-www-form-urlencoded">
                    <p style="font-size: 20px;">Inserisci le tue credenziali per confermare l'eliminazione</p>

                    <hr>
                    <div class="container_1">
                        <div class="grid_container">
                            <div class="sez_immagini">
                                <img src="../img/img_login/email.png" alt="">
                                <div>
                                    <label for="Del_Email">Indirizzo email: </label><br>
                                    <input type="email" class="myin" name="email" placeholder="nome.cognome@email.com" required>
                                </div>
                            </div>           
                            <br><br>
                            <div class="grid_item">
                                <div class="sez_immagini">
                                    <img src="../img/img_login/password.png" alt="">
                                    <div>
                                        <label for="Del_Password">Password: </label><br>
                                        <input type="password" class="myin" name="Password"  required><br>
                                        <label for="Del_Convalida-Password" >Convalida password: </label> <br>
                                        <input type="password" class="myin" name="password"  required>
                                    </div>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="grid_item">
                                <label for = "drop_down_motivazione">Motivazione dell'eliminazione: </label>
                                <select name="motivo" id="drop_down_motivazione" class="myin" onchange="EnableDisableTextBox(this)" required>
                                    <option value="Creato_Altro_Account">Ho creato un altro account</option>
                                    <option value="Perso_Interesse">Ho perso interesse nella piattaforma</option>
                                    <option value="Account_Non_Più_Utile">L'account non mi serve più</option>
                                    <option value="Altro">Altro</option>
                                </select>
                            </div>
                            <br>
                            <div id ="text_box_motivazione_altro">
                                <label for ="Motivazione_Scelta-Altro">Scrivi nel box la tua motivazione: </label> <br>
                                <textarea rows="5" cols="70" maxlength="300" id="Motivazione_Scelta-Altro" name="altro" style="resize: none;" placeholder="Perché vuoi eliminare il tuo account? Scrivicelo in questo box."></textarea>
                            </div>
                            <br><br>
                            <center>
                                <button  type="submit" class="grid_item_bottone">
                                    <img src="/img/img_login/cestino_1.png" alt="" style="width: auto; height: 20px;">Conferma eliminazione
                                </button>
                            </center>
                            
                        </div>
                        
                    </form>
            </section>
        </main>
    </body>
</html>