<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/delete_account.css">
        <script src="/javascript/delete_account.js"></script>
    </head>
    <body>
        <main>
            <section id="indice">
                <h1>Vuoi eliminare il tuo account?</h1>
            </section>
            <div class="main_flex">
                <section id="section1">
                    <div id="nav_bar">
                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_navbar/user.png" alt="Profilo">
                            </div>
                            <center>
                                <a href="/profilo">Il mio profilo</a>
                            </center>
                        </div>
                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_footer/pagamenti.png" alt="Ordini">
                            </div>
                            <center>
                                <a href="#">I miei ordini</a>
                            </center>
                        </div>
                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_navbar/carrello.png" alt="Vendite">
                            </div>
                            <center>
                                <a href="#">Le mie vendite</a>
                            </center>
                        </div>
                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_login/cestino_1.png" alt="Elimina account">
                            </div>
                            <center>
                                <a href="/eliminaProfilo">Elimina account</a>
                            </center>
                        </div>
                    </div>
                </section>

                <section id="section2">
                    <div class="main">
                        <section id="myinfo">
                            <form action="/eliminaProfilo" method="post" enctype="application/x-www-form-urlencoded">
                                <p style="font-size: 20px;">Inserisci le tue credenziali per confermare l'eliminazione</p>
                                <hr>
                                <div>
                                    
                                    <div class="sez_immagini">
                                        <img src="../img/img_login/email.png" alt="Email">
                                        <div>
                                            <label>Indirizzo email : </label><br>
                                            <input type="text" name="email" required>
                                        </div>
                                    </div>
                                    <div class="sez_immagini">
                                        <img src="../img/img_login/password.png" alt="Password">
                                        <div>
                                            <div>
                                                <label>Password : </label><br>
                                                <input type="password" name="password"  required><br>
                                            </div>
                                            <div style="margin-top: 5px;">
                                                <label>Convalida password : </label> <br>
                                                <input type="password" name="password"  required>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <label>Motivazione dell'eliminazione: </label>
                                        <select name="motivo" id="drop_down_motivazione" class="myin" onchange="EnableDisableTextBox(value)" required>
                                            <option value="new_account">Ho creato un altro account</option>
                                            <option value="perso_interesse">Ho perso interesse nella piattaforma</option>
                                            <option value="non_utile">L'account non mi serve più</option>
                                            <option value="altro">Altro</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div id ="text_box_motivazione_altro" style="display: none;">
                                        <label>Scrivi nel box la tua motivazione: </label> <br>
                                        <textarea rows="5" cols="70" maxlength="300" id="motivazione" name="altro" style="resize: none;" placeholder="Perché vuoi eliminare il tuo account? Scrivicelo qui!"></textarea>
                                    </div>
                                    <br><br>
                                    <center>
                                        <button  type="submit" class="grid_item_bottone">
                                            <img src="/img/img_login/cestino_1.png" alt="" style="width: auto; height: 20px;">
                                            <p>Conferma eliminazione</p>
                                        </button>
                                    </center>  
                                </div>   
                            </form>
                        </section>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>