<!DOCTYPE html>
<html>
    <head>
        <title>Nextgen</title>
        <link rel="icon" href="/img/icon.svg">
    </head>
    <body>
        <%- include('../public/html/navbar.html') %>

        <%- include('../public/html/index.html') %>

        <%- include('../public/html/foter.html')%>
    </body>
</html>