<!DOCTYPE html>
<html>
    <head>
        <title>Next Gen</title>
        <link rel="icon" href="/img/icon.svg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--NAV BAR-->
        <link rel="stylesheet" href="../css/navbar.css">
        <!--FOOETR-->
        <link rel="stylesheet" href="../css/foter.css">

        <!--INDEX-->
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css" integrity="sha512-ztsAq/T5Mif7onFaDEa5wsi2yyDn5ygdVwSSQ4iok5BPJQGYz1CoXWZSA7OgwGWrxrSrbF0K85PD5uLpimu4eQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        
    </head>
    <body>
        <%- include('../public/html/navbar.html') %>

        <%- include('../public/html/index.html') %>

        <%- include('../public/html/foter.html')%>
    </body>
</html>