<!DOCTYPE html>
<html>
    <head>
        <title>Nextgen</title>
        <link rel="icon" href="../public/img/icon.svg">
    </head>
    <body>
        <%- include('../public/html/navbar.html') %>

        <center><h1>Im the body</h1></center>
        <center><img src="../public/img/icon.svg" alt="immagine cazzo"></center>

        <%- include('../public/html/foter.html')%>
    </body>
</html>