<!DOCTYPE html>
<html>
    <head>
        <title>Nexgen</title>
    </head>
    <body>
        <%- include('../public/html/navbar.html') %>

        <center><h1>im the body hahah</h1></center>

        <%- include('../public/html/foter.html')%>
    </body>
</html>