<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inserisci.css">
    <script src="../javascript/input_scarpe.js"></script>
    <script src="../javascript/anteprima_prodotti.js"></script>
    <!--NAV BAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <!--FOOETR-->
    <link rel="stylesheet" href="../css/foter.css">
</head>
<body>
    <%- include('../public/html/navbar.html') -%>
    <main>
        <% if(infoErrorObj){ %>
            <center><h3 style="background-color: red;"> <%= infoErrorObj %> </h3></center>
        <% }; %>
        <% if(infoSubmitObj){ %>
            <center><h3 style="background-color: green;"> <%= infoSubmitObj %> </h3></center>
        <% }; %>
        <div class="main">
            <div>
                <form action="/upload_scarpe" method="post" enctype="multipart/form-data" class="grid">
                    <div class="first_div">
                        <h1>Caratteristiche del prodotto</h1>
                        <fieldset>
                            <legend><h3>Offerta <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Genere <span>*</span> </label>
                                <select name="sesso" id="input_genere" onchange="mygenere(value)" required>
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="uomo">Uomo</option>
                                    <option value="donna">Donna</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Categoria <span>*</span> </label>
                                <select name="categoria" id="input_categoria" onchange="mycategory(value); mycategoria(value)" required>
                                    <option value="null">Seleziona la categoria</option>
                                    <option value="scarpe">Scarpe</option>
                                    <option value="scarpe_eleganti">Scarpe eleganti</option>
                                    <option value="stivali">Stivali</option>
                                    <option value="mocassini">Mocassini</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Marca(brand) <span>*</span> </label>
                                <input type="text" name="brand" placeholder="(esempio) Salvatore Ferragamo" id="input_marca" onchange="mymarca(value)" required>
                            </div>
                            <div class="flex">
                                <label>Il prodotto è usato?</label>
                                <select name="usato" id="usato" onchange="second_hand(value); myusato(value)" required>
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="false">No, il prodotto non è mai stato indossato (nuovo e senza segni di usura)</option>
                                    <option value="true">Si, il prodotto è usato</option>
                                </select>
                            </div>
                            <div class="flex" id="condizione" style="display: none;">
                                <label>Specifica la condizione del prodotto usato<span>*</span> </label>
                                <select name="condizione" id="input_condizione" onchange="mycondizione(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="Ottimo">Ottimo(di seconda mano, segni di usura assenti o appena visibili)</option>
                                    <option value="Buono">Buono(segni di usura poco visibili o visibili)</option>
                                    <option value="Soddisfacente">Soddisfacente(segni di usura ben visibili)</option>
                                    <option value="Indossabile">Indossabile(segni di usura evidenti)</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><h3>Dati basilari <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Nome <span>*</span> </label>
                                <input type="text" name="nome_prodotto" placeholder="(esempio) Scarpe eleganti per matrimonio" id="input_nome" onchange="mynome(value)" required>
                            </div>
                            <div class="flex">
                                <label>Taglia <span>*</span> </label>
                                <select name="taglia" id="input_taglia" onchange="mytaglia(value)" required>
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="one_size">One size</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Colore principale <span>*</span> </label>
                                <select name="colore" id="input_colore" onchange="mycolore(value)" required>
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="nero">Nero /Tendente al nero</option>
                                    <option value="grigio">Grigio /Tendente al grigio</option>
                                    <option value="bianco">Bianco /Tendente al bianco</option>
                                    <option value="blu">Blu /Tendente al blu</option>
                                    <option value="marrone">Marrone /Tendente al marrone</option>
                                    <option value="rosso">Rosso-Bordeaou /Tendente al rosso-bordeaou</option>
                                    <option value="vedre">Vedre /Tendente al verde</option>
                                    <option value="giallo">Giallo /Tendente al giallo</option>
                                    <option value="arancione">Marrone /Tendente all'arancio</option>
                                    <option value="multicolore">Multicolore</option>
                                </select>
                            </div>
                        </fieldset>
                        <!-- a seconda delle categorie-->
                        <fieldset id="input_scarpe" style="display: none;">
                            <legend><h3>Dati basilari delle scarpe<span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Composizione(materiali) della scarpa <span>*</span> </label>
                                <input type="text" name="materiale_scarpe" placeholder="(esempio) Pelle e tessuto">
                            </div>
                            <div class="flex">
                                <label>Materiale delle solette <span>*</span> </label>
                                <input type="text" name="solette_scarpe" placeholder="(esempio) Tessuto">
                            </div>
                            <div class="flex">
                                <label>Materiale della suola <span>*</span> </label>
                                <input type="text" name="suola_scarpe" placeholder="(esempio) Materiale sintetico">
                            </div>
                            <div class="flex">
                                <label>Materiale della fodera <span>*</span> </label>
                                <input type="text" name="fodera_scarpe" placeholder="(esempio) Senza imbottitura">
                            </div>
                        </fieldset>

                        <fieldset id="input_scarpe_eleganti" style="display: none;">
                            <legend><h3>Dati basilari delle scarpe eleganti<span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Materiale parte superiore della scarpa <span>*</span> </label>
                                <input type="text" name="materiale_scarpe_eleganti"placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Rivestimento della scarpa</label>
                                <input type="text" name="rivestimento_scarpe_eleganti" placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale delle solette <span>*</span> </label>
                                <input type="text" name="solette_scarpe_eleganti" placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale della suola <span>*</span> </label>
                                <input type="text" name="suola_scarpe_eleganti"placeholder="(esempio) Plastica e pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale della fodera <span>*</span> </label>
                                <input type="text" name="fodera_scarpe_eleganti" placeholder="(esempio) Tessuto">
                            </div>
                            <div class="flex">
                                <label>Tipo di punta della scarpa <span>*</span> </label>
                                <input type="text" name="punta_scarpe_eleganti" placeholder="(esempio) Squadrata">
                            </div>
                            <div class="flex">
                                <label>Tipologia di chiusura della scarpa <span>*</span> </label>
                                <input type="text" name="chiusura_scarpe_eleganti" placeholder="(esempio) Lacci">
                            </div>
                        </fieldset>

                        <fieldset id="input_stivali" style="display: none;">
                            <legend><h3>Dati basilari dello stivale<span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Materiale parte superiore dello stivale <span>*</span> </label>
                                <input type="text" name="materiale_stivali"placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Rivestimento dello stivale</label>
                                <input type="text" name="rivestimento_stivali" placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale delle solette <span>*</span> </label>
                                <input type="text" name="solette_stivali" placeholder="(esempio) Misto di pelle e tessuto">
                            </div>
                            <div class="flex">
                                <label>Materiale della suola <span>*</span> </label>
                                <input type="text" name="suola_stivali" placeholder="(esempio) Gomma naturale">
                            </div>
                            <div class="flex">
                                <label>Materiale della fodera <span>*</span> </label>
                                <input type="text" name="fodera_stivali" placeholder="(esempio) Senza imbottitura">
                            </div>
                            <div class="flex">
                                <label>Tipo di punta dello stivale <span>*</span> </label>
                                <input type="text" name="punta_stivale" placeholder="(esempio) A punta">
                            </div>
                            <div class="flex">
                                <label>Tipo di tacco dello stivale <span>*</span> </label>
                                <input type="text" name="tacco_stivale" placeholder="(esempio) Tacco a rocchetto">
                            </div>
                            <div class="flex">
                                <label>Tipologia di chiusura dello stivale <span>*</span> </label>
                                <input type="text" name="chiusura_stivale" placeholder="(esempio) Cerniera">
                            </div>
                        </fieldset>

                        <fieldset id="input_mocassini" style="display: none;">
                            <legend><h3>Dati basilari del mocassino<span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Materiale parte superiore del mocassino <span>*</span> </label>
                                <input type="text" name="materiale_mocassino"placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Rivestimento del mocassino</label>
                                <input type="text" name="rivestimento_mocassino" placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale delle solette <span>*</span> </label>
                                <input type="text" name="solette_mocassino"placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale della suola <span>*</span> </label>
                                <input type="text" name="suola_mocassino" placeholder="(esempio) Pelle">
                            </div>
                            <div class="flex">
                                <label>Materiale della fodera <span>*</span> </label>
                                <input type="text" name="fodera_mocassino" placeholder="(esempio) Tessuto">
                            </div>
                            <div class="flex">
                                <label>Tipo di punta del mocassino <span>*</span> </label>
                                <input type="text" name="punta_mocassino" placeholder="(esempio) Tonda">
                            </div>
                            <div class="flex">
                                <label>Tipologia di chiusura del mocassino <span>*</span> </label>
                                <input type="text" name="chiusura_mocassino" placeholder="(esempio) Senza chiusura">
                            </div>
                        </fieldset>
                        <!------------------------------------>


                        <fieldset>
                            <legend><h3>Immagini del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>carica le immagini del prodotto (4 sono obbligatorie <span>*</span> )</label>
                                <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;">
                                    <p>Foto principale :</p>
                                    <input type="file" name="immagine1" class="background" required onchange="previewImage(event)">
                                    
                                    <p>Seconda foto :</p>
                                    <input type="file" name="immagine2" class="background" required>
                                    
                                    <p>Terza foto :</p>
                                    <input type="file" name="immagine3" class="background" required>
                                    
                                    <p>Quarta foto :</p>
                                    <input type="file" name="immagine4" class="background" required>

                                    <p>Quinta foto :</p>
                                    <input type="file" name="immagine5" class="background" required>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Ulteriori indicazioni <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Descrizione e dettagli del prodotto <span>*</span> </label>
                                <textarea name="descrizione" id="input_descrizione" cols="30" rows="10" onchange="mydescrizione(value)" required></textarea>
                            </div>
                            <div class="flex">
                                <label>Avvertenze</label>
                                <input type="text" name="avvertenze" placeholder="Non obbligatorie">
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Prezzo del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il prezzo del singolo prodotto <span>*</span> </label>
                                <input type="text" name="prezzo" id="input_prezzo" placeholder="(esempio) 170" onchange="myprezzo(value)" required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Quantità dei prodotti <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il numero dei prodotti che vuoi vendere <span>*</span> </label>
                                <input type="text" name="quantita" id="input_quantita" placeholder="(esempio) 1" onchange="myquantita(value)" required>
                            </div>
                        </fieldset>

                        <div style="width: 100%;"><a href="#"><button id="button" type="submit">Salva & Continua</button></a></div>
                    </div>

                    <div style="width: 100%; margin-top: 25%; margin-bottom: 25%;">
                        <div class="second_div">
                            <h3  id="titolo">ANTEPRIMA DEL PRODOTTO</h3>
                            <div id="image_anteprima">
                                <img src="" alt="" id="output_img" class="image">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">GENERE</h4>
                                <input type="text" value="" readonly="readonly" id="output_genere">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">MARCA</h4>
                                <input type="text" value="" readonly="readonly" id="output_marca">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">NOME PRODOTTO</h4>
                                <input type="text" value="" readonly="readonly" id="output_nome">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">CATEGORIA</h4>
                                <input type="text" value="" readonly="readonly" id="output_categoria">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">TAGLIA</h4>
                                <input type="text" value="" readonly="readonly" id="output_taglia">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">COLORE PRINCIPALE</h4>
                                <input type="text" value="" readonly="readonly" id="output_colore">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">TIPOLOGIA DI PRODOTTO</h4>
                                <input type="text" value="" readonly="readonly" id="output_usato">
                            </div>
                            <div id="sezione_condizione" style="display: none;">
                                <h4 id="titolo_anteprima">CONDIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_condizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">DESCRIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_descrizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">PREZZO SINGOLO PRODOTTO IN €</h4>
                                <div class="second_div_flex">
                                    <input type="text" value="" readonly="readonly" id="output_prezzo">
                                    <p>€</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <%- include('../public/html/foter.html')%>
</body>
</html>