<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inserisci.css">
    <script src="../javascript/input_gioielli.js"></script>
    <script src="../javascript/anteprima_prodotti.js"></script>

    <!--NAV BAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <!--FOOETR-->
    <link rel="stylesheet" href="../css/foter.css">

</head>
<body>
    <%- include('../public/html/navbar.html') %>
    <br>
    <main>
        <% if(infoErrorObj){ %>
            <center><h3 style="background-color: red;"> <%= infoErrorObj %> </h3></center>
        <% }; %>
        <% if(infoSubmitObj){ %>
            <center><h3 style="background-color: green;"> <%= infoSubmitObj %> </h3></center>
        <% }; %>
        <div class="main">
            <div>
                <form action="/upload_gioielli" method="post" enctype="multipart/form-data" class="grid">
                    <div class="first_div">
                        <h1>Caratteristiche del prodotto</h1>
                        <fieldset>
                            <legend><h3>Offerta <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Genere <span>*</span> </label>
                                <select name="sesso" id="input_genere" onchange="mygenere(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="uomo">Gioiello da uomo</option>
                                    <option value="donna">Gioiello da donna</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Marca del gioiello <span>*</span> </label>
                                <input type="text" name="marca" placeholder="(esempio) Bulgari" id="input_marca" onchange="mymarca(value)" required>
                            </div>
                            <div class="flex">
                                <label>Categoria <span>*</span> </label>
                                <select name="categoria" id="input_categoria" onchange="mycategory(value); mycategoria(value)">
                                    <option value="null">Seleziona una categoria</option>
                                    <option value="anello">Anello</option>
                                    <option value="bracciale">Bracciale</option>
                                    <option value="collana">Collana</option>
                                    <option value="orecchino">Orecchino</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Il prodotto è usato?</label>
                                <select name="usato" id="usato" onchange="second_hand(value); myusato(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="false">No, il prodotto non è mai stato indossato (nuovo e senza segni di usura)</option>
                                    <option value="true">Si, il prodotto è usato</option>
                                </select>
                            </div>
                            <div class="flex" id="condizione" style="display: none;">
                                <label>Specifica la condizione del prodotto usato<span>*</span> </label>
                                <select name="condizione" id="input_condizione" onchange="mycondizione(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="Ottimo">Ottimo(di seconda mano, segni di usura assenti o appena visibili)</option>
                                    <option value="Buono">Buono(segni di usura poco visibili o visibili)</option>
                                    <option value="Soddisfacente">Soddisfacente(segni di usura ben visibili)</option>
                                    <option value="Indossabile">Indossabile(segni di usura evidenti)</option>
                                </select>
                            </div>
                        </fieldset>
                        
                        <!--A seconda della categoria-->

                        <fieldset>
                            <legend><h3>Dati basilari <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Nome <span>*</span> </label>
                                <input type="nome_prodotto" name="nome_prodotto" placeholder="(esempio) Anello oro bianco con smeraldo" id="input_nome" onchange="mynome(value)" required>
                            </div>
                            <div class="flex">
                                <label>Il gioiello è composto da più materiali? <span>*</span> </label>
                                <select name="more_materials" id="more_materials" onchange="mymaterials(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="no">No, il gioiello è composto da un solo materiale</option>
                                    <option value="due">Si, il gioiello è composto da 2 materiali</option>
                                    <option value="tre">Si, il gioiello è composto da 3 materiali</option>
                                    <option value="quattro">Si, il gioiello è composto da 4 materiali</option>
                                </select>
                            </div>
                            <div id="primo_materiale" style="display: none;">
                                <div class="flex">
                                    <label>Inserisci il materiale del gioiello <span>*</span> </label>
                                    <input type="text" name="materiale1" id="materiale1" placeholder="(esempio) Oro giallo">
                                </div>
                                <div class="flex">
                                    <label>Inserisci i CARATI del materiale inserito <span>*</span> </label>
                                    <input type="text" name="carati_materiale1" id="carati_materiale1" placeholder="(esempio) 24">
                                </div>
                            </div>

                            <div id="secondo_materiale" style="display: none;">
                                <hr>
                                <div class="flex">
                                    <label>Inserisci il <span style="color: black;">secondo materiale</span> (o pietra) del gioiello <span>*</span> </label>
                                    <input type="text" name="materiale2" id="materiale2">
                                </div>
                                <div class="flex">
                                    <label>Inserisci i CARATI del secondo materiale (o pietra) <span>*</span> </label>
                                    <input type="text" name="carati_materiale2" id="carati_materiale2">
                                </div>
                            </div>
                            <div id="terzo_materiale" style="display: none;">
                                <hr>
                                <div class="flex">
                                    <label>Inserisci il <span style="color: black;">terzo materiale</span> (o pietra) del gioiello <span>*</span> </label>
                                    <input type="text" name="materiale3" id="materiale3">
                                </div>
                                <div class="flex">
                                    <label>Inserisci i CARATI del terzo materiale (o pietra) <span>*</span> </label>
                                    <input type="text" name="carati_materiale3" id="carati_materiale3">
                                </div>
                            </div>
                            <div id="quarto_materiale" style="display: none;">
                                <hr>
                                <div class="flex">
                                    <label>Inserisci il <span style="color: black;">quarto materiale</span> (o pietra) del gioiello*</label>
                                    <input type="text" name="materiale4" id="materiale4">
                                </div>
                                <div class="flex">
                                    <label>Inserisci i CARATI del quarto materiale (o pietra) <span>*</span> </label>
                                    <input type="text" name="carati_materiale4" id="carati_materiale4">
                                </div>
                                <hr>
                            </div>
                            <!--------------------------------------------------------->
                        </fieldset>
                        
                        <fieldset id="input_anello" style="display: none;">
                            <legend><h3>Dati basilari dell'anello <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Diametro dell'anello in millimetri <span>*</span> </label>
                                <input type="text" name="diamentro_anello" placeholder="(esempio) 8mmx8mm">
                            </div>
                            <div class="flex">
                                <label>Spessore dell'anello in millimetri <span>*</span> </label>
                                <input type="text" name="spessore_anello" placeholder="(esempio) 10mm">
                            </div>
                        </fieldset>

                        <fieldset id="input_bracciale" style="display: none;">
                            <legend><h3>Dati basilari del bracciale <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Lunghezza del bracciale in centimetri <span>*</span> </label>
                                <input type="text" name="lunghezza_bracciale" placeholder="(esempio) 10cm">
                            </div>
                            <div class="flex">
                                <label>Spessore del bracciale in millimetri <span>*</span> </label>
                                <input type="text" name="spessore_bracciale" placeholder="(esempio) 14mm">
                            </div>
                        </fieldset>

                        <fieldset id="input_collana" style="display: none;">
                            <legend><h3>Dati basilari della collana <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Lunghezza della collana in centimetri <span>*</span> </label>
                                <input type="text" name="lunghezza_collana" placeholder="(esempio) 20cm">
                            </div>
                            <div class="flex">
                                <label>Spessore della collana in millimetri <span>*</span> </label>
                                <input type="text" name="spessore_collana" placeholder="(esempio) 22mm">
                            </div>
                            <div class="flex">
                                <label>La collana ha un pendente? <span>*</span> </label>
                                <select name="Pendente_collana" id="Pendente">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="si">Si, la collana ha un pendente</option>
                                    <option value="no">No, la collana non ha un pendente</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset id="input_orecchino" style="display: none;">
                            <legend><h3>Dati basilari dell'orecchino <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Diametro dell'orecchino in millimetri <span>*</span> </label>
                                <input type="text" name="diamentro_orecchino" placeholder="(esempio) 5mmx5mm">
                            </div>
                            <div class="flex">
                                <label>Spessore dell'orecchino in millimetri <span>*</span> </label>
                                <input type="text" name="spessore_orecchino" placeholder="(esempio) 3mm">
                            </div>
                            <div class="flex">
                                <label>L'orecchino ha un pendente? <span>*</span> </label>
                                <select name="Pendente_orecchino" id="Pendente">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="si">Si, l'orecchino ha un pendente</option>
                                    <option value="no">No, l'orecchino non ha un pendente</option>
                                </select>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend><h3>Carta d'identità del gioiello </h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Anno di produzione del gioiello <span>*</span> </label>
                                <input type="text" name="anno" placeholder="(esempio) 2021">
                            </div>
                            <div class="flex" id="provenienza" style="display: none;">
                                <label>Provenienza del gioiello <span>*</span> </label>
                                <select name="provenienza" id="provenienza">
                                    <option value="null">Seleziona opzione</option>
                                    <option value="venditore autorizzato">Comprato in prima persona da venditore autorizzato</option>
                                    <option value="venditore privato">Comprato in prima persona da venditore privato</option>
                                    <option value="regalo">Ricevuto tramite regalo</option>
                                    <option value="eredita">Ricevuto tramite eredità</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Immagini del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>carica le immagini del prodotto (4 sono obbligatorie <span>*</span> )</label>
                                <div style="width: 100%;">
                                    <p>Foto principale :</p> 
                                    <input type="file" name="immagine1" class="background" required onchange="previewImage(event)">
                                    <p>Seconda foto :</p>
                                    <input type="file" name="immagine2" class="background" required>
                                    <p>Terza foto :</p>
                                    <input type="file" name="immagine3" class="background" required>
                                    <p>Quarta foto :</p>
                                    <input type="file" name="immagine4" class="background" required>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Ulteriori indicazioni <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Descrizione e dettagli del prodotto <span>*</span> </label>
                                <textarea name="descrizione" id="input_descrizione" cols="30" rows="10" onchange="mydescrizione(value)" required></textarea>
                            </div>
                            <div class="flex">
                                <label>Avvertenze</label>
                                <input type="text" name="avvertenze" placeholder="Non obbligatorie">
                            </div>
                        </fieldset>
                                           
                        <fieldset>
                            <legend><h3>Prezzo del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il prezzo del singolo prodotto <span>*</span> </label>
                                <input type="text" name="prezzo" id="input_prezzo" placeholder="(esempio) 170" onchange="myprezzo(value)" required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Quantità dei prodotti <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il numero dei prodotti che vuoi vendere <span>*</span> </label>
                                <input type="number" name="quantita" id="input_quantita" placeholder="(esempio) 1" onchange="myquantita(value)" required>
                            </div>
                        </fieldset>

                        <div style="width: 100%;"><a href="#"><button id="button" type="submit">Salva & Continua</button></a></div>
                    </div>

                    <div style="width: 100%; margin-top: 25%; margin-bottom: 25%;">
                        <div class="second_div">
                            <h3  id="titolo">ANTEPRIMA DEL PRODOTTO</h3>
                            <div id="image_anteprima">
                                <img src="" alt="" class="image" id="output_img">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">GENERE</h4>
                                <input type="text" value="" readonly="readonly" id="output_genere">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">MARCA</h4>
                                <input type="text" value="" readonly="readonly" id="output_marca">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">NOME PRODOTTO</h4>
                                <input type="text" value="" readonly="readonly" id="output_nome">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">CATEGORIA</h4>
                                <input type="text" value="" readonly="readonly" id="output_categoria">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">TIPOLOGIA DI PRODOTTO</h4>
                                <input type="text" value="" readonly="readonly" id="output_usato">
                            </div>
                            <div id="sezione_condizione" style="display: none;">
                                <h4 id="titolo_anteprima">CONDIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_condizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">DESCRIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_descrizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">PREZZO SINGOLO PRODOTTO IN €</h4>
                                <div class="second_div_flex">
                                    <input type="text" value="" readonly="readonly" id="output_prezzo">
                                    <p>€</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <br>
    <%- include('../public/html/foter.html')%>
</body>
</html>