<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inserisci.css">
    <script src="../javascript/anteprima_prodotti.js"></script>
    <script src="../javascript/input_abbigliamento.js"></script>

    <!--NAV BAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <!--FOOETR-->
    <link rel="stylesheet" href="../css/foter.css">

</head>
<body>

    <%- include('../public/html/navbar.html') %>
    <br>
    <main>
        <% if(infoErrorObj){ %>
            <center><h3 style="background-color: red;"> <%= infoErrorObj %> </h3></center>
        <% }; %>
        <% if(infoSubmitObj){ %>
            <center><h3 style="background-color: green;"> <%= infoSubmitObj %> </h3></center>
        <% }; %>
        <div class="main">
            <div>
                <form action="/upload_orologi" method="post"  enctype="multipart/form-data" class="grid">
                    <div class="first_div">
                        <h1>Caratteristiche del prodotto</h1>
                        <fieldset>
                            <legend><h3>Offerta <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Tipologio orologio <span>*</span> </label>
                                <select name="tipologia" id="input_tipologia" onchange="mytipologia(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="polso">Orologio da polso</option>
                                    <option value="tasca">Orologio da tasca</option>
                                    <option value="altro">Altro tipo di orologio</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Marca dell'orologio <span>*</span> </label>
                                <input type="text" name="brand" placeholder=" (esempio) Rolex" id="input_marca" onchange="mymarca(value)" required>
                            </div>
                            <div class="flex">
                                <label>Modello dell'orologio <span>*</span> </label>
                                <input type="text" name="modello" placeholder=" (esempio) Submarine" id="input_modello" onchange="mymodello(value)" required>
                            </div>
                            <div class="flex">
                                <label>Categoria <span>*</span> </label>
                                <select name="categoria" id="input_categoria" onchange="mycategoria(value)">
                                    <option value="null">Seleziona una categoria</option>
                                    <option value="cronografo">Cronografo</option>
                                    <option value="automatico">Orologio automatico</option>
                                    <option value="aviatore">Orologio da aviatore</option>
                                    <option value="meccanico">Orologio meccanico</option>
                                    <option value="militare">Orologio militare</option>
                                    <option value="nautico">Orologio nautico</option>
                                    <option value="vintage">Orologio vintage</option>
                                    <option value="subacqueo">Orologio subacqueo</option>
                                    <option value="svizzero">Orologio svizzero</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Il prodotto è usato?</label>
                                <select name="usato" id="usato" onchange="second_hand(value); myusato(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="false">No, il prodotto non è mai stato indossato (nuovo e senza segni di usura)</option>
                                    <option value="true">Si, il prodotto è usato</option>
                                </select>
                            </div>
                            <div class="flex" id="condizione" style="display: none;">
                                <label>Specifica la condizione del prodotto usato<span>*</span> </label>
                                <select name="condizione" id="input_condizione" onchange="mycondizione(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="Ottimo">Ottimo(di seconda mano, segni di usura assenti o appena visibili)</option>
                                    <option value="Buono">Buono(segni di usura poco visibili o visibili)</option>
                                    <option value="Soddisfacente">Soddisfacente(segni di usura ben visibili)</option>
                                    <option value="Indossabile">Indossabile(segni di usura evidenti)</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Corredo <span>*</span> </label>
                                <select name="corredo" id="input_corredo" onchange="mycorredo(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="orologio">Solo orologio</option>
                                    <option value="orologio_scatola">Orologio con scatola originale</option>
                                    <option value="orologio_documenti">Orologio con documenti originali</option>
                                    <option value="orologio_scatola_documenti">Orologio con scatola e documenti originali</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Dati basilari <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Genere <span>*</span> </label>
                                <select name="sesso" id="input_genere" onchange="mygenere(value)">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="uomo">Orologio da uomo</option>
                                    <option value="donna">Orologio da donna</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Anno di produzione <span>*</span> </label>
                                <input type="number"  name="anno_produzione" id="anno_produzione" placeholder=" (esempio) 2002" required>
                            </div>
                            <div class="flex">
                                <label>Diametro in millimetri <span>*</span> </label>
                                <input type="text" name="diametro" id="diametro" placeholder=" (esempio) 50mmx40mm" required>
                            </div>
                            <div class="flex">
                                <label>Carica <span>*</span> </label>
                                <select name="carica" id="carica">
                                    <option value="null">Seleziona un'opzione</option>
                                    <option value="automatico">Automatico</option>
                                    <option value="manuale">Manulae</option>
                                    <option value="quarzo">Quarzo</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Descrizione e dettagli del prodotto <span>*</span> </label>
                                <textarea name="descrizione" id="input_descrizione" cols="30" rows="10" onchange="mydescrizione(value)" required></textarea>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Immagini del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>carica le immagini del prodotto (4 sono obbligatorie <span>*</span> )</label>
                                <div style="width: 100%;">
                                    <p>Foto principale :</p> 
                                    <input type="file" name="immagine1" class="background" required onchange="previewImage(event)">
                                    <p>Seconda foto :</p>
                                    <input type="file" name="immagine2" class="background" required>
                                    <p>Terza foto :</p>
                                    <input type="file" name="immagine3" class="background" required>
                                    <p>Quarta foto :</p>
                                    <input type="file" name="immagine4" class="background" required>
                                    <p>Quinta foto :</p>
                                    <input type="file" name="immagine5" class="background" required>
                                </div>
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend><h3>Prezzo del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il prezzo del singolo prodotto <span>*</span> </label>
                                <input type="text" name="prezzo" id="input_prezzo" placeholder="(esempio) 170" onchange="myprezzo(value)" required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Quantità dei prodotti <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci il numero dei prodotti che vuoi vendere <span>*</span> </label>
                                <input type="number" name="quantita" id="input_quantita" placeholder="(esempio) 1" onchange="myquantita(value)" required>
                            </div>
                        </fieldset>

                        <div style="width: 100%;"><a href="#"><button id="button" type="submit">Salva & Continua</button></a></div>
                    </div>

                    <div style="width: 100%; margin-top: 25%; margin-bottom: 25%;">
                        <div class="second_div">
                            <h3  id="titolo">ANTEPRIMA DEL PRODOTTO</h3>
                            <div id="image_anteprima">
                                <img src="" alt="Immagine Principale" class="image" id="output_img">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">GENERE</h4>
                                <input type="text" value="" readonly="readonly" id="output_genere">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">MARCA</h4>
                                <input type="text" value="" readonly="readonly" id="output_marca">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">MODELLO</h4>
                                <input type="text" value="" readonly="readonly" id="output_modello">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">TIPOLOGIA</h4>
                                <input type="text" value="" readonly="readonly" id="output_tipologia">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">CATEGORIA</h4>
                                <input type="text" value="" readonly="readonly" id="output_categoria">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">CORREDO</h4>
                                <input type="text" value="" readonly="readonly" id="output_corredo">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">TIPOLOGIA DI PRODOTTO</h4>
                                <input type="text" value="" readonly="readonly" id="output_usato">
                            </div>
                            <div id="sezione_condizione" style="display: none;">
                                <h4 id="titolo_anteprima">CONDIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_condizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">DESCRIZIONE</h4>
                                <input type="text" value="" readonly="readonly" id="output_descrizione">
                            </div>
                            <div>
                                <h4 id="titolo_anteprima">PREZZO SINGOLO PRODOTTO IN €</h4>
                                <div class="second_div_flex">
                                    <input type="text" value="" readonly="readonly" id="output_prezzo">
                                    <p>€</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>  
    </main>
    <br>
    <%- include('../public/html/foter.html')%>
</body>
</html>