<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inserisci.css">
    <script src="../javascript/input_abbigliamento.js"></script>
    <script src="../javascript/Steky_anteprima.js"></script>

     <!--NAV BAR-->
     <link rel="stylesheet" href="../css/navbar.css">
     <!--FOOETR-->
     <link rel="stylesheet" href="../css/foter.css">
</head>
    <body>
        <%- include('../public/html/navbar.html') -%>
        <br>
        <main>
            <div id="main_container">
                <form action="" class="grid">
                    <div>
                        <h1>Caratteristiche del prodotto</h1>
                        <fieldset>
                            <legend><h3>Offerta <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Genere <span>*</span> </label>
                                <select name="sesso" id="sesso">
                                    <option value="uomo">Abbigliamento da uomo</option>
                                    <option value="donna">Abbigliamento da donna</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Categoria <span>*</span> </label>
                                <select name="categoria" id="categoria" onchange="mycategory(value)">
                                    <option value="null">Seleziona la categoria</option>
                                    <option value="tshirt_polo">T-shirt & Polo</option>
                                    <option value="camicia">Camicie</option>
                                    <option value="maglieria">Maglieria & Felpe</option>
                                    <option value="completo">Completo</option>
                                    <option value="giacca">Giacca</option>
                                    <option value="cappotto">Cappotti</option>
                                    <option value="jeans">Jeans</option>
                                    <option value="pantalone">Pantaloni</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Marca(brand) <span>*</span> </label>
                                <input type="text" name="brand" placeholder="(esempio) Salvatore Ferragamo">
                            </div>
                            <div class="flex">
                                <label>Il prodotto è usato?</label>
                                <select name="usato" id="usato" onchange="second_hand(value)">
                                    <option value="false">No, il prodotto non è mai stato indossato (nuovo e senza segni di usura)</option>
                                    <option value="true">Si, il prodotto è usato</option>
                                </select>
                            </div>
                            <div class="flex" id="condizione" style="display: none;">
                                <label>Specifica la condizione del prodotto usato<span>*</span> </label>
                                <select name="condizione" id="condizione">
                                    <option value="Ottimo">Ottimo(di seconda mano, segni di usura assenti o appena visibili)</option>
                                    <option value="Buono">Buono(segni di usura poco visibili o visibili)</option>
                                    <option value="Soddisfacente">Soddisfacente(segni di usura ben visibili)</option>
                                    <option value="Indossabile">Indossabile(segni di usura evidenti)</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><h3>Dati basilari <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Nome <span>*</span> </label>
                                <input type="nome_prodotto" name="nome_prodotto"placeholder="(esempio) Giacca leggera">
                            </div>
                            <div class="flex">
                                <label>Taglia <span>*</span> </label>
                                <select name="taglia" id="taglia">
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                    <option value="xxl">XXL</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>Vestibilità <span>*</span> </label>
                                <select name="vestibilita" id="vestibilita">
                                    <option value="stretto">Vestibilità stretta</option>
                                    <option value="aderente">Vestibilità aderente</option>
                                    <option value="regolare">Vestibilità regolare</option>
                                    <option value="comoda">Vestibilità comoda</option>
                                    <option value="larga">Vestibilità larga</option>
                                </select>
                            </div>
                        </fieldset>
                        <fieldset id="input_parte_superiore" style="display: none;">
                            <legend><h3>Dati basilari parte superiore <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Composizione (materiali) <span>*</span> </label>
                                <input type="text" name="composizione" placeholder="(esempio) Poliestere, duvet e piume">
                            </div>
                            <div class="flex">
                                <label>Colore <span>*</span> </label>
                                <select name="colore">
                                    <option value="nero">Nero /Tendente al nero</option>
                                    <option value="grigio">Grigio /Tendente al grigio</option>
                                    <option value="bianco">Bianco /Tendente al bianco</option>
                                    <option value="blu">Blu /Tendente al blu</option>
                                    <option value="marrone">Marrone /Tendente al marrone</option>
                                    <option value="rosso">Rosso-Bordeaou /Tendente al rosso-bordeaou</option>
                                    <option value="vedre">Vedre /Tendente al verde</option>
                                    <option value="giallo">Giallo /Tendente al giallo</option>
                                    <option value="arancione">Marrone /Tendente all'arancio</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimentri manica <span>*</span> </label>
                                <input type="text" name="cm_manica" placeholder="(esempio) 75cm">
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimetri schienale <span>*</span> </label>
                                <input type="text" name="cm_schienale" placeholder="(esempio) 46cm">
                            </div>
                        </fieldset>
                        
                        <fieldset id="input_parte_inferiore" style="display: none;">
                            <legend><h3>Dati basilari parte inferiore <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Composizione (materiali) <span>*</span> </label>
                                <input type="text" name="composizione" placeholder="(esempio) Cotone">
                            </div>
                            <div class="flex">
                                <label>Colore <span>*</span> </label>
                                <select name="colore">
                                    <option value="nero">Nero /Tendente al nero</option>
                                    <option value="bianco">Bianco /Tendente al bianco</option>
                                    <option value="blu">Blu /Tendente al blu</option>
                                    <option value="marrone">Marrone /Tendente al marrone</option>
                                    <option value="rosso">Rosso-Bordeaou /Tendente al rosso-bordeaou</option>
                                    <option value="vedre">Vedre /Tendente al verde</option>
                                    <option value="giallo">Giallo /Tendente al giallo</option>
                                    <option value="arancione">Marrone /Tendente all'arancio</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimentri gamba interna <span>*</span> </label>
                                <input type="text" name="cm_gamba_interna" placeholder="(esempio) 73cm">
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimetri gamba esterna <span>*</span> </label>
                                <input type="text" name="cm_gamba_esterna" placeholder="(esempio) 103cm">
                            </div>
                        </fieldset>

                        <fieldset id="input_completo" style="display: none;">
                            <legend><h3>Dati basilari del completo <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Composizione (materiali) <span>*</span> </label>
                                <input type="text" name="composizione" placeholder="(esempio) Cotone">
                            </div>
                            <div class="flex">
                                <label>Colore <span>*</span> </label>
                                <select name="colore">
                                    <option value="nero">Nero /Tendente al nero</option>
                                    <option value="bianco">Bianco /Tendente al bianco</option>
                                    <option value="blu">Blu /Tendente al blu</option>
                                    <option value="marrone">Marrone /Tendente al marrone</option>
                                    <option value="rosso">Rosso-Bordeaou /Tendente al rosso-bordeaou</option>
                                    <option value="vedre">Vedre /Tendente al verde</option>
                                    <option value="giallo">Giallo /Tendente al giallo</option>
                                    <option value="arancione">Marrone /Tendente all'arancio</option>
                                </select>
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimentri manica <span>*</span> </label>
                                <input type="text" name="cm_manica" placeholder="(esempio) 75cm">
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimetri schienale <span>*</span> </label>
                                <input type="text" name="cm_schienale" placeholder="(esempio) 46cm">
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimentri gamba interna <span>*</span> </label>
                                <input type="text" name="cm_gamba_interna" placeholder="(esempio) 73cm">
                            </div>
                            <div class="flex">
                                <label>lunghezza in centimetri gamba esterna <span>*</span> </label>
                                <input type="text" name="cm_gamba_esterna" placeholder="(esempio) 103cm">
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend><h3>Immagini del prodotto <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>carica le immagini del prodotto (4 sono obbligatorie <span>*</span> )</label>
                                <div>
                                    <input type="file" name="immagine1">
                                    <input type="file" name="immagine2">
                                    <input type="file" name="immagine3">
                                    <input type="file" name="immagine4">
                                    <input type="file" name="immagine5">
                                    <input type="file" name="immagine6">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><h3>Ulteriori indicazioni <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Descrizione e dettagli del prodotto <span>*</span> </label>
                                <textarea name="descrizione" id="descrizione" cols="30" rows="10"></textarea>
                            </div>
                            <div class="flex">
                                <label>Avvertenze</label>
                                <input type="text" name="avvertenze" placeholder="(esempio) Lavaggio a macchina 30 gradi">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><h3>Quantità e prezzo dell'offerta <span>*(campo obbligatorio)</span></h3></legend>
                            <hr>
                            <div class="flex">
                                <label>Inserisci la quanitita del prodotto <span>*</span> </label>
                                <input type="text" name="quanitita" id="quantita" placeholder="(esempio) 1">
                            </div>
                            <div class="flex">
                                <label>Inserisci il prezzo del prodotto <span>*</span> </label>
                                <input type="text" name="prezzo" id="prezzo" placeholder="(esempio) 170">
                            </div>
                        </fieldset>
                        <div style="width: 100%;"><a href="#"><button id="button" type="submit">Salva & Continua</button></a></div>
                    </div>

                </form>

                <div id="anteprima" >
                    <div class="second_div">
                        <div id="image_anteprima">
                            <img src="" alt="" class="image">
                        </div>
                        <div>
                            <h4 id="titolo_anteprima">BRAND</h4>
                            <p id="nome">Salvatore Ferragamo</p>
                        </div>
                        <div>
                            <h4 id="titolo_anteprima">NOME PRODOTTO</h4>
                            <p id="nome">Completo elegante</p>
                        </div>
                        <div>
                            <h4 id="titolo_anteprima">PREZZO</h4>
                            <p id="nome">2450$</p>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <br>
        <%- include('../public/html/foter.html')%>
    </body>
</html>