@font-face {
  font-family: MainFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
  margin: 0;
}
main{
  font-family: "MainFont";
}
.first_frase{
  margin: 0%;
  padding: 20px;
  color: black;
  padding-left: 20px;
  border-bottom: 2px solid black;
  background-color: slategrey;
  color: white;
  text-align: center;
}
.second_frase{
  color: slategrey;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 70px;
}
.carousel-cell{
  height: 450px;
  max-height: 450px;
  justify-content: center;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 50px;
  background-color: blanchedalmond;
}

.container {
    box-sizing: border-box;
    width: 360px;
    height: 450px;
    padding: 20px;
    border: 3px solid slategrey;
  }
  .container .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container .image img{
    width: 100%;
    transition: .5s;
  }
  .container:hover .image img {
    transform: translateX(20%);
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .container:hover .overlay {
    width: 70%;
  }
  .text {
    cursor: pointer;
    white-space: nowrap; 
    color: black;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .text a{
    text-decoration: none;
  }
  .text a h2{
    color: slategrey;
    cursor: pointer;
  }
  .text h2:hover{
    border-bottom: 2px solid slategrey;
  }
  .text ul{
    list-style-type: none;
  }
  .text ul li{
    font-size: 14pt;
    font-weight: 600;
    padding-bottom: 10px;
    cursor: auto;
  }
  
/*Alis CSS*/
#cont_iban{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#iban{
  padding: 10px;
  height: auto;
  width: 40%;
  border-radius:6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#iban form{
  font-family: "MainFont";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#iban form div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#iban form p{
  font-family: "MainFont";
  color: slategray;
  font-size: 18px;
}

#iban form div input{
  width: 97%;
  height: 24px;
  border: black solid 1px;
  border-radius: 2px;
}

#iban form div button{
  height: 24px;
  background-color: white;
  border: black solid 1px;
  border-radius: 2px;
}

#iban form div button:hover{
  color: white;
  background-color: black;
}