@font-face {
    font-family: MainFont;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
footer{
    font-family: "MainFont";
    background-color: white;
    color: black;
    height: 500px;
    max-height: 500px;
    margin: 0%;
    border-top: 5px solid black;
}
footer h2{
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .div{
    display: flex;
    justify-content: space-between; /*mi permette di dividere equamente i div presenti in questa classe*/
    align-items: flex-start;
}

footer .div div{
    width: 100%;
}
footer .div ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
}

footer .div li{
    padding-left: 10px;
    padding-bottom: 3px;
}

footer #logo{
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
}
footer .div a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
footer .div a:hover{
    border-bottom: 2px solid black;
}

footer .second-div{
    background-color: rgb(24, 24, 24);
    margin: 0%;
    height: 150px;
    max-height: 150px;
    color: white;
    padding: 10px 20px;
    border-bottom: 10px solid rgb(6, 192, 0);
}
footer .sub_cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
footer .sub_cont ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  footer .sub_cont li {
    float: left;
    padding-right: 10px;
  }
  footer .sub_cont li a{
    display: inline-block;  /*mi permette di posizionare uno difianco all'altro i link, in questo caso quelli all'interno di un li*/
  }