@font-face {
    font-family: MainFont;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 25px;
  width: 100%;
  margin: 0%;
  border-bottom: 1px solid black;
}
  header a{
      text-decoration: none;
      padding-top: 2px;
      padding-right: 5px;
      font-family: "MainFont";
      font-weight: 600;
      text-align: center;
      color: black;
  }

h2{
  font-size: 14pt;
  font-weight: 900;
  color: black;
  text-align: left;
}

form, section{
  width: 500px;
  height: auto;
  margin:calc(50vh - 400px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family: "MainFont";
  position:relative;
}

input{
  width:100%;
  padding:10px;
  color: black;
  box-sizing:border-box;
  font-family: "MainFont";
}

input:focus{
  border-bottom: 2px solid black;
}

p{
  content:attr(type);
  font-size:14pt;
  color: black;
  margin: 28px 0 0;
}

form button, section div button{
  float:center;
  font-size: 11pt;
  height: 40px;
  width: 100%;
  padding:8px 12px;
  margin: 18px 0 0;
  font-family: "MainFont";
  border:3px solid whitesmoke;
  background-color: rgb(24, 24, 24);
  color: white;
  cursor:pointer;
  transition: all .3s;
}

form button:hover, section div button:hover{
  background: black;
  color: white;
  border: 3px solid #65ac13;
}

#link{
  font-family: "MainFont";
  font-size: 16px; 
  color: rgb(0, 153, 255);
}
#link-registra{
  text-decoration: none;
  font-family: "MainFont";
  font-size: 16px; 
  color: white;
}
