
@font-face {
  font-family: MainFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
  margin: 0;
  padding: 0;  
}
main{
  font-family: MainFont;
}
.grid_container {
    display: grid;
    width: 70%;
    grid-template-columns: 10% 33% 33% 24%;
    padding: 10px;
  }
  .grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 17px;
    text-align: left;
    row-gap: 5px;
  }
  .grid_item2{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    row-gap: 5px;
    grid-column: 2/4;
  }
  .grid_button{
    display: flex;
    align-items: center;
  }
  .section_benvenuto{
    display: flex;
    justify-content: center;
  }
  .div_benvenuto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dati_personali
  {
    font-size: 17px;
  }
  
  .bottone_modifica{
    width: 85%;
    border: 2.5px solid black;
    height: 3rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.centra_bottone
{
  display: flex;
  align-items: center;
}

/**ALI'S CSS**/
#mySection{
  display: flex;
  justify-content: space-around;
}
#nav_bar{
  border: solid black 1px;
  border-radius: 4px;
  margin-left: 20px;
  width: 9%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#nav_bar a{
  margin: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
#nav_bar a img{
  width: 42%;
}
#nav_bar a div{
  display: none;
  transition: 0.5s;
}

#nav_bar a:hover div{
  display: flex;
}

.main_container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.myAddress{
  border: black solid 1px;
  width: 22%;
  padding: 5px;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add_address{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#add_card{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#info_carta{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#info_carta div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#info_carta div p{
  margin:0 0 0 9px;
  text-align: start;
}

#address_form{
  padding: 10px;
  height: auto;
  width: 40%;
  border-radius:6px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#address_form form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#address_form form input{
  width: 45%;
  height: 25px;
  margin: 4px;
}
#address_form form select{
  width: 46%;
  height: 25px;
  margin: 4px;
}

#address_form form button{
  width: 25%;
}