@font-face {
  font-family: MainFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body{
  margin: 0;
}
main{
  font-family: "MainFont";
}
#indice{
  background-color: slategray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
#indice h1{
  padding-left: 15%;
  color: white;
}
#h1{
  font-size: 22pt;
  color: white;
  background-color: slategray;
  border-bottom: 2px solid black;
  padding: 20px;
}
.main_flex{
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 30px;
  height: auto;
}
#section1{
  width: 5%;
}
#section2{
  width: 55%;
}
#section3{
  width: 50%;
}
#nav_bar{
  width: 90%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
}
.nav_container{
  margin-top: 35px;
  margin-bottom: 35px;
}
#nav_bar .div_img{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#nav_bar a{
  color: black;
  font-size: 11pt;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
}
#nav_bar a:hover{
  border-bottom: 1px solid black;
}
#nav_bar img{
  width: 100%;
}

.main{
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}
.titolo{
  padding: 10px;
  color: black;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.titolo h1{
  font-size: 24pt;
  color: black;
}
.titolo h2{
  font-size: 18pt;
  color: slategray;
}

.grid_container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 10% 36% 36% 18%;
    
  }
  .grid_item{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 17px;
    text-align: left;
    margin-bottom: 15px;
  }
  .grid_item2{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    grid-column: 2/4;
    margin-bottom: 15px;
  }
  .grid_button{
    display: flex;
    align-items: center;
  }
.bottone_modifica2{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 39%;
  margin-bottom: 39%;
  height: 18%;
  box-sizing: border-box;
}
.bottone_modifica2 .image{
  width: 100%;
  height: 100%;
} 
.bottone_modifica{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 32%;
  margin-bottom: 32%;
  height: 36%;
  box-sizing: border-box;
}
.bottone_modifica .image{
  width: 100%;
  height: 100%;
}

.main-carousel{
  width: 100%;
  height: auto;
  background-color: rgb(228, 228, 228);
  padding: 10px;
}
.carousel-cell{
  height: 250px;
  width: 300px;
  justify-content: center;
  margin-left: 10px;
}
.myAddress{
  height: auto;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px;
}

.myButton{
  font-size: 12pt;
  font-weight: 600;
  background-color: rgb(228, 228, 228);
  color: black;
  padding: 10px;
  margin-top: 45px;
  width: 100%;
  transition: .5s;
  cursor: pointer;
  border: 1px solid slategray;
}
.myButton:hover{
  background-color: gray;
  color: white;
}

#info_carta{
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#info_carta div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#info_carta div p{
  margin: 6px 0 0 9px;
  text-align: start;
}

#add_address{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#add_card{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#address_form{
  padding: 10px;
  height: auto;
  width: 40%;
  border-radius:6px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#address_form form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#address_form form input{
  width: 65%;
  height: 25px;
  margin: 4px;
}
#address_form form select{
  width: 66%;
  height: 25px;
  margin: 4px;
}

#address_form form button{
  cursor: pointer;
  margin-top: 5px;
  width: 45%;
  padding: 5px;
  font-size: 11pt;
  font-weight: 600;
  color: black;
  border: 1px solid black;
  background-color: rgb(228, 228, 228);
}
#address_form form button:hover{
  background-color: gray;
  color: white;
}