.grid_container {
    display: grid;
    width: 70%;
    grid-template-columns: 10% 33% 33% 24%;
    padding: 10px;
  }
  .grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 17px;
    text-align: left;
    row-gap: 5px;
  }
  .grid_item2{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    row-gap: 5px;
    grid-column: 2/4;
  }
  .grid_button{
    display: flex;
    align-items: center;
  }
  .section_benvenuto{
    display: flex;
    justify-content: center;
  }
  .div_benvenuto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dati_personali
  {
    font-size: 17px;
  }
  .bottone_modifica{
    width: 85%;
    border: 2.5px solid black;
    height: 3rem;
    background-color: white;
    color: black;
  }

.centra_bottone
{
  display: flex;
  align-items: center;
}