@font-face {
  font-family: MainFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
main{
  font-family: "MainFont";
  display: grid;
  grid-template-columns:5% 20% 65% 5%;
}

.list_element{
  list-style: none;
  color: black;
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 15px;
}

.ul_style{
  padding-left: 20px;
  display:none;
}
.ul_style li a{
  text-decoration: none;
  color: black;
}

.ul_style li a:hover{
  border-bottom: solid 1px black;
}

.filter {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px;
  row-gap: 10px;
}
.filter .button{
  width: 95%;
  height: 50px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font-size: 12pt;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  }
 
  .prodotto {
    box-sizing: border-box;
    width: 30%;
    height: auto;
    margin-right: 3%;
    margin-bottom: 55px;
}
  .prodotto .image {
    width: 100%;
    
    overflow: hidden;
  }
  .prodotto .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  .prodotto:hover .image img {
    transform: translateY(-2%);
  }
  .prodotto .dettagli{
    text-align: left;
    color: black;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
  }
  
#side_menu{
  cursor: pointer;
  padding-right: 30px;
}  
.list_element_top{
  list-style: none;
  color: slategray;
  font-size: 14pt;
}
.list_element_top h3:hover{
  border-bottom: 2px solid slategray;
}